.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.fullScreen {
    width: 100%;
    height: 100vh;
    padding: 4%
}

.textCenter {
    text-align: center;
}

.white {
    color: white;
}

.white a {
    color: white;
}

.noDecoration {
    text-decoration: none;
}

.noDecoration  a{
    text-decoration: none !important;
}

.font1 h1{
    font-family: Raleway, sans-serif;
}
.font1 h3 {
 font-family: Lato, sans-serif;
}
.size1 h1{
  font-size: 2em;
  padding : 10%;
}
.bgGreen {
  background-color: #1ABC9C;
}
